$border-color: #ccc;
$border: 1px solid $border-color;

.searchField {
	display: flex;
	margin: 2em auto;
	font-size: 1rem;
	padding: 0.5rem;
	max-width: 29em;
  width: 100%;
}

.tableWrapper {
	display: table;
	max-width: 30em;
  width: 100%;
  margin: 2em auto;
  border: $border;
  border-collapse: collapse;

	.row {
		display: table-row;
		border-bottom: $border;

		&:last-of-type {
			border-bottom: none;
		}

		&.headers {
			font-weight: bold;
			cursor: pointer;
		}
	}

	.cell {
		display: table-cell;
    max-width: fit-content;
    padding: 1em 1.5em;
    border-right: $border;

    &:last-of-type {
			border-right: none;
		}

		&.bold {
			font-weight: bold;
		}
	}
}

.icon {
	height: 1em;
	width: 1em;
	position: relative;
  top: 2px;
  color: $border-color;

  &.edit {
  	left: 5px;
  	top: 5px;
  	cursor: pointer;
  	padding: 3px;
  }
}