.cell {
	display: table-cell;
  max-width: fit-content;
  padding: 1em 1.5em;
  border-right: $border;

  &:last-of-type {
		border-right: none;
	}

	span.bold {
		font-weight: bold;
	}

	input {
		font-size: 1em;
    max-width: 6em;
	}

	button {
		margin-left: 5px;
		border-image: none;
		cursor: pointer;
    position: relative;
    bottom: 2px;
	}
}